---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Hr from "@/components/Hr.astro";

import TextPressure from "@/components/TextPressure";
import FallingText from "@/components/FallingText";
import DecryptedText from "@/components/DecryptedText";
---

<Layout lang="pt">
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-8">
      <div class="items-center">
        <TextPressure
          text="Meus Projetos"
          flex={true}
          alpha={false}
          width={true}
          weight={false}
          italic={true}
          minFontSize={36}
          client:only="react"
        />
      </div>
    </section>
    <Hr />
    <section id="projects" class="pt-8 pb-8">
      <DecryptedText
        text="Esta página está em construção."
        animateOn="view"
        sequential={true}
        client:only="react"
      />
    </section>
    <Hr />
    <section id="all-skills" class="h-96">
      <FallingText
        text={`O homem razoável se adapta ao mundo. O irrazoável persiste em tentar adaptar o mundo a si mesmo. Portanto, todo progresso depende do homem irrazoável.`}
        highlightWords={[
          "mundo",
          "adapta",
          "irrazoável",
          "progresso",
          "adaptar",
          "persiste",
        ]}
        trigger="scroll"
        backgroundColor="transparent"
        wireframes={false}
        gravity={0.56}
        fontSize="2rem"
        mouseConstraintStiffness={0.9}
        client:only="react"
      />
    </section>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/pt/projects");
    }
  });
</script>
