---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Hr from "@/components/Hr.astro";
import TextPressure from "@/components/TextPressure";
import ConstellationMap from "@/components/ConstellationMap";
---

<Layout lang="en">
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <TextPressure
        text="My Projects"
        flex={true}
        alpha={false}
        width={true}
        weight={false}
        italic={true}
        minFontSize={36}
        client:only="react"
      />
    </section>

    <Hr />

    <section id="projects" class="pt-8 pb-16">
      <ConstellationMap client:only="react" />
    </section>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/en/projects");
    }
  });
</script>
